<div class="chat-container">
  <div class="username">
    {{userName}}
  </div>
  <div class="messages" #messagesContainer>
    <div *ngFor="let message of messages; trackBy: trackByMessageId">
      <span [ngClass]="{'current-user': message.user === userName}">{{message.user}}</span>
      [{{message.createdDate | date: 'dd.MM.yyyy HH:mm'}}]: {{message.content}}
    </div>
  </div>
  <div class="input-area">
    <textarea [(ngModel)]="newMessage" placeholder="Type a message"
              (keydown.enter)="sendMessage(); $event.preventDefault();"></textarea>
    <button (click)="sendMessage()">Send</button>
  </div>
</div>
