.chat-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 19px);
}

.username {
  text-align: right;
  font-weight: bold;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
}

.input-area {
  flex-shrink: 0;
  display: flex;
}

.input-area textarea {
  flex-grow: 1;
  resize: none;
}
